
body {
    background-color: rgb(43, 43, 43);
    background-size: cover;
    color: red; 
      font-family: "Oswald", sans-serif;
      font-optical-sizing: auto;
      font-weight: 650;
      font-style: italic;
      height: fit-content;
    
}
button {
    background-color: black;
    color: aliceblue;
    
}

.passo {
    display: none;
}
.passo.ativo {
    display: block;
}
    main{
        max-width: 90%;
        text-align: center;
    }