
body {
    background-image: url(https://th.bing.com/th/id/R.5d4477e3bc15f3240ac91ce93a3518cf?rik=alIv7LuTuWKV5w&pid=ImgRaw&r=0);
    background-size: cover;
    color: red; 
      font-family: "Oswald", sans-serif;
      font-optical-sizing: auto;
      font-weight: 650;
      font-style: italic;
      height: fit-content;
    
}
button {
    background-color: black;
    color: aliceblue;
    
}

.passo {
    display: none;
}
.passo.ativo {
    display: block;
}
    main{
        max-width: 90%;
        text-align: center;
    }